<template>
  <FlexboxLayout class="todo-form" flexDirection="column" backgroundColor="#AAFFAA">
    <TextField v-model="message" hint="Message" />
    <Button text="Add" @tap="addTodo" />
  </FlexboxLayout>
</template>

<script>
  import AddTodoService from '../services/AddTodoService'

  export default {
    props: [
      'token'
    ],
    data() {
      return {
        message: ''
      }
    },
    methods: {
      reset() {
        this.message = '';
      },
      addTodo() {
        AddTodoService.addTodo(this.token, this.message, false).then(() => {
          this.reset();
        })
      }
    }
  }
</script>

<style scoped>
  Label {
    font-size: 20px;
  }
  .todo-form {
    justify-content: space-around;
    height: 50%;
    margin: 10%;
    padding: 5%;
    width: 80%;
  }
</style>
