<template>
  <Page class="page">
    <StackLayout class="container">
      <app-nav v-if="!reglog"></app-nav>
      <app-reglog v-if="reglog"></app-reglog>
      <app-dashboard v-else-if="dashboard" :token="token" :completed="completed"></app-dashboard>
      <app-add-todo v-else-if="addTodo" :token="token"></app-add-todo>
      <app-edit-todo v-else :token="token" :todo="toBeEdittedTodo"></app-edit-todo>
    </StackLayout>
  </Page>
</template>

<script>

  import Navigation from './Navigation'
  import RegisterLogin from './RegisterLogin'
  import Dashboard from './Dashboard'
  import AddTodo from './AddTodo'
  import EditTodo from './EditTodo'

  import LogoutService from '../services/LogoutService'

  export default {
    components: {
      'app-nav': Navigation,
      'app-reglog': RegisterLogin,
      'app-dashboard': Dashboard,
      'app-add-todo': AddTodo,
      'app-edit-todo': EditTodo
    },
    created() {
      this.$on('changeCompleted', (text) => {
        this.completed.push(text)
      });
      this.$on('removeCompleted', (text) => {
        this.completed = this.completed.filter(complText => complText !== text)
      })
      this.$on('changeDashboard', this.changeDashboard);
      this.$on('changeAddTodo', this.changeAddTodo);
      this.$on('changeEditTodo', (todo) => {
        this.toBeEdittedTodo = todo;
        this.changeEditTodo();
      });
      this.$on('reglog', (token) => {
        this.token = token;
        this.changeDashboard();
      });
      this.$on('logout', () => {
        LogoutService.logout(this.token).then(() => {
          this.changeRegLog();
        })
      })
    },
    data () {
      return {
        reglog: true,
        dashboard: false,
        addTodo: false,
        token: '',
        toBeEdittedTodo: {},
        completed: []
      };
    },
    methods: {
      changeRegLog() {
        this.reglog = true;
        this.dashboard = false;
        this.addTodo = false;
      },
      changeDashboard() {
        this.reglog = false;
        this.dashboard = true;
        this.addTodo = false;
      },
      changeAddTodo() {
        this.reglog = false;
        this.dashboard = false;
        this.addTodo = true;
      },
      changeEditTodo() {
        this.reglog = false;
        this.dashboard = false;
        this.addTodo = false;
      }
    }
  };
</script>

<style scoped>
  .container {
    align-items: flex-start;
    flex-direction: column;
  }
</style>
