<template>
  <FlexboxLayout>
    <FlexboxLayout class="todos-container">
      <Label text="Dashboard"></Label>
      <app-todo v-for="(todo, ind) in todos" :key="ind" :todo="todo" :token="token"></app-todo>
    </FlexboxLayout>
  </FlexboxLayout>  
</template>

<script>

import GetTodosService from '../services/GetTodosService';
import Todo from './Todo'

export default {
  props: [
    'token',
    'completed'
  ],
  components: {
    'app-todo': Todo
  },
  created() {
    this.$on('changeEditTodo', (todo) => {
      this.$parent.$emit('changeEditTodo', todo);
    });
    this.$on('changeDashboard', () => {
      this.$parent.$emit('changeDashboard');
    })
    GetTodosService.fetch(this.token).then(response => {
      this.todos = response.data.todos.map(todo => {
        if (this.completed.includes(todo.text)) {
          return {
            _id: todo._id,
            text: todo.text, 
            completed: true
          }
        }
        else {
          return {
            _id: todo._id,
            text: todo.text,
            completed: false
          }
        }
      });
    })
  },
  data() {
    return {
      todos: []
    }
  }
}
</script>

<style scoped>
  .todos-container {
    flex-direction: column;
    justify-content: space-around;
  }
</style>

