<template>
  <FlexboxLayout class="todo-form" flexDirection="column" backgroundColor="#AAFFAA">
    <TextField v-model="todo.text" hint="Message" />
    <Switch v-model="todo.completed" />
    <Button text="Edit" @tap="editTodo" />
    <Button text="Delete" @tap="deleteTodo" />
  </FlexboxLayout>
</template>

<script>
  import DeleteTodoService from '../services/DeleteTodoService'
  import AddTodoService from '../services/AddTodoService'

  export default {
    props: [
      'token',
      'todo'
    ],
    data() {
      return {
      }
    },
    methods: {
      editTodo() {
        DeleteTodoService.deleteTodo(this.token, this.todo._id)
        .then(() => {
          return AddTodoService.addTodo(this.token, this.todo.text, this.todo.completed)
        })
        .then(() => {
          if (this.todo.completed === true) {
            this.$parent.$emit('changeCompleted', this.todo.text)
          } else {
            this.$parent.$emit('removeCompleted', this.todo.text)
          }
          this.$parent.$emit('changeDashboard')
        })
      },
      deleteTodo() {
        DeleteTodoService.deleteTodo(this.token, this.todo._id).then(() => {
          this.$parent.$emit('changeDashboard')
        })
      }
    }
  }
</script>

<style scoped>

</style>
