<template>
  <FlexboxLayout backgroundColor="#3c495e" class="navigation">
    <Button width="120" height="60" text="Dashboard" @tap="$parent.$emit('changeDashboard')" />
    <Button width="120" height="60" text="Add Todo" @tap="$parent.$emit('changeAddTodo')"/>
    <Button width="120" height="60" text="Logout" @tap="$parent.$emit('logout')"/>
  </FlexboxLayout>
</template>

<script>
export default {
  
}
</script>

<style scoped>

  .navigation {
    justify-content: space-around;
    padding: 10px;
    width: 100%;
  }

</style>

