<template>
  <FlexboxLayout flexDirection="column">
    <FlexboxLayout v-if="register" flexDirection="column">
      <Label text="Register"></Label>
      <TextField v-model="email" hint="Email" />
      <TextField v-model="password" hint="Password" />
      <Button text="Register" @tap="registerUser" />
      <Button text="Already have an account: Login" @tap="register=false" />
    </FlexboxLayout>
    <FlexboxLayout v-else flexDirection="column">
      <Label text="Login"></Label>
      <TextField v-model="email" hint="Email" />
      <TextField v-model="password" hint="Password" />
      <Button text="Login" @tap="loginUser" />
      <Button text="Don't have an account: Register" @tap="register=true" />
    </FlexboxLayout>
    <FlexboxLayout v-if="authError">
      <Label text="Unknown email + password combination"></Label>
    </FlexboxLayout>
    <FlexboxLayout v-if="shortPass">
      <Label text="Password must be at least 6 characters long"></Label>
    </FlexboxLayout>
  </FlexboxLayout>
</template>

<script>

import RegisterService from '../services/RegisterService'
import LoginService from '../services/LoginService'

export default {
  data() {
    return {
      email: '',
      password: '',
      register: true,
      token: '',
      authError: false,
      shortPass: false
    }
  },
  methods: {
    registerUser() {
      if(this.password.length < 6) {
        this.shortPass = true;
      } else {
        RegisterService.register(this.email, this.password).then((response) => {
          this.token = response.headers['x-auth'];
          this.$parent.$emit('reglog', this.token);
        }).catch(err => {
          this.shortPass = true;
          console.error("Could not register: ", err);
        })
      }
    },
    loginUser() {
      LoginService.login(this.email, this.password).then((response) => {
        this.token = response.headers['x-auth'];
        this.$parent.$emit('reglog', this.token);
      }).catch(err => {
        this.authError = true;
        console.error("Could not login: ", err);
      })
    }
  }

}
</script>

<style scoped>

</style>
