<template>
  <FlexboxLayout class='todo-container'>
    <Label :text="todo.text"></Label>
    <FlexboxLayout class='button-container'>
      <Label v-if="todo.completed" text="DONE"></Label>
      <Label v-else text="NOT DONE"></Label>
      <Button text="Edit Todo" @tap="editTodo"></Button>
    </FlexboxLayout>
  </FlexboxLayout>
</template>

<script>
  export default {
    props: [
      "token",
      "todo"
    ],
    methods: {
      editTodo() {
        this.$parent.$emit('changeEditTodo', this.todo)
      }
    }
  }
</script>


<style scoped>  
  .todo-container {
    justify-content: space-between;
    width: 100%;
  }
  .button-container {
    justify-content: space-around;
    width: 50%;
  }

</style>
